*{
  margin: 0
}

body{
  /* background-image:url(./image/salameche\ pokeme.jpeg);
  background-size: cover; */
    background: beige
  /* color:black;
/* background: white url(./image/salameche\ pokeme.jpeg) no-repeat right bottom; */

}

.listPokemon{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.pokemon{
width:20vh;
}
.positionEnd{
display: flex;
justify-content: flex-end;
}

.ecartCenter{
  display: flex;
  justify-content: center;
}

.ecartSpace{
    display: flex;
    justify-content: space-between;
}

.postPosition{
  display: flex;
  justify-content: center;
  position: relative;
}

.timerAndpokemonfound{
    display: flex;
    flex-direction: column;
    width: 13%;
}
.button{
  height: 16vh;
  width: 25%;
  background-color: purple;
  font-size: 49px;
  border: solid 9px;
}

.Increment{
    font-size: 10vh;
    text-align: center;
}

.timer{
text-align: center;
}

.pseudo{
  border: solid 4px black;
  border-radius: 30px;
  position: absolute;
  height: 100%;
  right: 0px;
}

.pseudoTag{
  text-align: center;
  margin-top: 5%;
}

.buttonSubmit{
      height: 1%;
      width: 35%;
}

.inpute{
display: flex;
margin-top: 5%;
flex-direction: column;
align-items: center;
  width: 100%;
}