*{
  margin: 0
}

body{
  /* color:black;
  background-color:white;
  background-image:url(./image/salameche\ pokeme.jpeg);
  background-repeat:no-repeat; */
/* background: white url(./image/salameche\ pokeme.jpeg) no-repeat right bottom; */

}

.listPokemon{
  display: flex;
  flex-flow: wrap;
}

.pokemon{
width:20vh;
}

.ecartCenter{
  display: flex;
  justify-content: center;
}

.ecartSpace{
    display: flex;
    justify-content: space-between;
}

.timerAndpokemonfound{
    display: flex;
    flex-direction: column;
    width: 13%;
}
.button{
  height: 16vh;
  width: 25%;
  background-color: purple;
  font-size: 49px;
  border: solid 9px;
}

.Increment{
    font-size: 10vh;
    text-align: center;
}

.timer{
text-align: center;
}

.pseudo{
  border: solid 4px black;
}